<%- model_class = Invite -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= form_tag bulk_import_invites_path, :multipart => true do %>
  <%= file_field_tag :invites %>
  <input class="btn" type="submit" value="Upload" />
<% end %>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Mark as...
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a id="mark_as_sent" href="#">Sent</a>
    </li>
  </ul>
</div>

<%= will_paginate @invites %>
<%= form_tag "", :id => 'bulk_update_form' do %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:state) %></th>
          <th><%= model_class.human_attribute_name(:tier) %></th>
          <th><%= model_class.human_attribute_name(:anticipated_guests) %></th>
          <th><%= model_class.human_attribute_name(:guests) %></th>
          <th><%= model_class.human_attribute_name(:suggested_song) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @invites.each do |invite| %>
          <tr>
            <td><%= check_box_tag 'invite_ids[]', invite.id %></td>
            <td><%= link_to invite.name, invite_path(invite) %></td>
            <td><%= invite.state %></td>
            <td><%= invite.tier %></td>
            <td><%= invite.anticipated_guests %></td>
            <td><%= invite.guests %></td>
            <td><%= invite.suggested_song %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_invite_path(invite), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          invite_path(invite),
                          :method => :delete,
                          :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                          :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
<%= will_paginate @invites %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_invite_path,
            :class => 'btn btn-primary' %>
