<h1>Listing invites</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Passphrase</th>
    <th>Sent</th>
    <th>Responded</th>
    <th>Guests</th>
    <th>Tier</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invites.each do |invite| %>
  <tr>
    <td><%= invite.name %></td>
    <td><%= invite.address %></td>
    <td><%= invite.passphrase %></td>
    <td><%= invite.sent %></td>
    <td><%= invite.responded %></td>
    <td><%= invite.guests %></td>
    <td><%= invite.tier %></td>
    <td><%= link_to 'Show', invite %></td>
    <td><%= link_to 'Edit', edit_invite_path(invite) %></td>
    <td><%= link_to 'Destroy', invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invite', new_invite_path %>
