<%- model_class = Invite -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @invite.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @invite.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:passphrase) %>:</strong></dt>
  <dd><%= @invite.passphrase %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sent) %>:</strong></dt>
  <dd><%= @invite.sent %></dd>
  <dt><strong><%= model_class.human_attribute_name(:responded) %>:</strong></dt>
  <dd><%= @invite.responded %></dd>
  <dt><strong><%= model_class.human_attribute_name(:guests) %>:</strong></dt>
  <dd><%= @invite.guests %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tier) %>:</strong></dt>
  <dd><%= @invite.tier %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              invites_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_invite_path(@invite), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              invite_path(@invite),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
