<%= form_tag(respond_path, method: :put) do %>
  <div class="span5">
    <h4>From The Invite</h4>
    <p><%= label_tag :name, 'Name' %></p>
    <p><%= text_field_tag :name %></p>
  </div>

  <div class="span5">
    <h4>Extra</h4>
    <p><%= label_tag :guests, 'Number of guests (including yourself)' %></p>
    <p><%= number_field_tag :guests, nil %></p>

    <p><%= label_tag :suggested_song, 'Suggest a song!' %></p>
    <p><%= text_field_tag :suggested_song, nil %></p>

  </div>

  <div style="clear:both;">&nbsp;</div>
  <p><%= submit_tag 'Respond' %></p>
<% end %>
