<%- model_class = Response -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <h2>
    Confirmed Guests: <%= Response.confirmed_guest_count %>
  </h2>
</div>
<%= will_paginate @responses %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:guests) %></th>
      <th><%= model_class.human_attribute_name(:suggested_song) %></th>
      <th><%= model_class.human_attribute_name(:attending) %></th>
      <th>Responded</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= link_to response.name, admin_response_path(response) %></td>
        <td><%= response.guests %></td>
        <td><%= response.suggested_song %></td>
        <td><%= response.attending ? "yes" : "no" %></td>
        <td><%= response.created_at.in_time_zone("Mountain Time (US & Canada)").strftime("%a, %B %-d, %I:%M%P") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_response_path(response), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_response_path(response),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @responses %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_response_path,
            :class => 'btn btn-primary' %>
