<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Eoin and SJ" %></title>
    <%= csrf_meta_tags %>

    <link href="http://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <div class="container">
      <div class="row" id="header">
        <div class="span12">
          <img src="/images/bearbunny.png" />
          <p class="tagline">Eoin and Sarah Jane</p>
        </div>
      </div>
      <div class="content">
        <div class="row">
           <div class="<%= content_for?(:sidebar) ? "span9" : "span12" %>">
              <%= yield %>
            </div>
            <% if content_for? :sidebar %>
                <div class="span3">
                  <div class="well sidebar-nav">
                    <h3>Sidebar</h3>
                    <ul class="nav nav-list">
                      <%= yield :sidebar %>
                    </ul>
                  </div><!--/.well -->
                </div><!--/span-->
            <% end %>
        </div><!--/row-->
      </div><!--/content-->



    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
