<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Eoin and SJ" %></title>
    <%= csrf_meta_tags %>

    <link href="http://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <div class="container">
      <div class="row" id="header">
        <div class="span12">
          <a href="<%= root_path %>">
          <img src="/images/bearbunny.png" />
            </a>
          <p class="tagline"><a style="color: black;" href="<%= root_path %>">Eoin and Sarah Jane</a></p>
        </div>
      </div>
      <div class="content rsvp">

        <div class="row" style="width: 500px; margin: 0 auto;">
           <div class="span5" style="margin-left: 10px;">
             <ul class="nav nav-pills" style="margin-left: 10px;">
              <li <%= active_nav? :rsvp %>>
                <%= link_to "RSVP", rsvp_path %>
              </li>
              <li <%= active_nav? :where_to_stay %>>
               <%= link_to "Where To Stay", where_to_stay_path %>
               </li>
               <li <%= active_nav? :how_to_get_here %>>
               <%= link_to "How To Get Here", how_to_get_here_path %>
               </li>
               <li <%= active_nav? :registry %>>
                 <%= link_to "Registry", registry_path %>
               </li>
             </ul>
              <%= yield %>
            </div>
        </div><!--/row-->
      </div><!--/content-->



    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
